<%- include('includes/header')%>
<section class="py-28">
  <div class="container mx-auto px-4">
    <!-- flash message -->
    <%- include('includes/flash') %>
    <div class="flex flex-col max-w-3xl mx-auto">
      <% if (posts.length) { %>
      <h2 class="text-3xl text-center mb-8">Latest Blog Post</h2>
      <% posts.forEach((post)=>{ %>
      <a
        href="/post/<%= post._id %>"
        class="
          bg-gradient-to-r
          from-indigo-300
          to-pink-500
          p-2
          rounded
          my-3
          shadow-lg
          transition
          duration-500
          ease-in-out
          transform
          hover:scale-105
        "
      >
        <div class="flex items-center">
          <!-- avatar -->
          <div class="mr-4">
            <img
              src="<%= post.author.avatar %>"
              alt="avatar"
              class="w-10 h-10 object-cover rounded-full border"
            />
          </div>
          <div>
            <!-- title -->
            <p class="text-1xl font-bold mr-3">
              <%= post.title %>
              <span class="font-light text-xs">
                (<%= post.createdDate.getMonth() + 1 %>/<%=
                post.createdDate.getDate() %>/<%= post.createdDate.getFullYear()
                %> %>)</span
              >
            </p>
          </div>
        </div>
      </a>
      <% }) } else { %>
      <div>
        <h2 class="text-3xl text-center mb-2">Your Feed Is Empty</h2>
        <p class="text-center mb-8">Try following someone 🙂</p>
      </div>
      <%} %>
    </div>
  </div>
</section>
<%- include('includes/footer')%>
