<%- include('includes/header')%>
<section class="py-28">
  <!-- flash message -->
  <%- include('includes/flash') %>
  <div class="container mx-auto px-4">
    <div class="flex flex-col max-w-3xl mx-auto">
      <!-- avatar -->
      <div class="flex items-center mb-8">
        <div class="flex items-center mr-5">
          <img
            src="<%= profileAvatar %>"
            alt="avatar"
            class="w-14 h-14 object-cover rounded-full mr-5"
          />
          <p class="text-2xl"><%= profileUsername %></p>
        </div>
        <% if (user && !isProfile) { if (isFollowing) { %>
        <!-- unfollow -->
        <form
          action="/removeFollow/<%= profileId %>"
          method="POST"
          class="
            bg-red-500
            py-2
            px-4
            rounded
            text-white
            transition
            duration-500
            ease-in-out
            hover:text-black
            cursor-pointer
          "
        >
          <i class="fas fa-plus"></i>
          <button>Unfollow</button>
        </form>
        <% } else { %>
        <!-- follow -->
        <form
          action="/addFollow/<%= profileId %>"
          method="POST"
          class="
            bg-gradient-to-r
            from-indigo-300
            to-pink-500
            py-2
            px-4
            rounded
            text-white
            transition
            duration-500
            ease-in-out
            hover:text-black
            cursor-pointer
          "
        >
          <i class="fas fa-plus"></i>
          <button>Follow</button>
        </form>
        <% } } %>
      </div>
      <!-- tabs -->
      <div>
        <div
          class="
            bg-black
            rounded
            p-3
            text-white
            flex
            justify-around
            w-full
            mt-6
            md:mt-0
          "
        >
          <form action="" method="POST">
            <button
              class="
                py-1
                px-2
                rounded
                hover:bg-indigo-300
                transition-all
                tab-active
              "
            >
              Post 3
            </button>
          </form>
          <form action="">
            <button
              class="py-1 px-2 rounded hover:bg-indigo-300 transition-all"
            >
              Follower 3
            </button>
          </form>
          <form action="">
            <button
              class="py-1 px-2 rounded hover:bg-indigo-300 transition-all"
            >
              Following 3
            </button>
          </form>
        </div>
      </div>
      <!-- blog posts -->
      <% profilePosts.forEach((post)=>{ %>
      <a
        href="/post/<%= post._id %>"
        class="
          bg-gradient-to-r
          from-indigo-300
          to-pink-500
          p-2
          rounded
          my-3
          shadow-lg
          transition
          duration-500
          ease-in-out
          transform
          hover:scale-105
        "
      >
        <div class="flex items-center">
          <!-- avatar -->
          <div class="mr-4">
            <img
              src="<%= post.author.avatar %>"
              alt="avatar"
              class="w-10 h-10 object-cover rounded-full border"
            />
          </div>
          <div>
            <!-- title -->
            <p class="text-1xl font-bold mr-3">
              <%= post.title %>
              <span class="font-light text-xs">
                (<%= post.createdDate.getMonth() + 1 %>/<%=
                post.createdDate.getDate() %>/<%= post.createdDate.getFullYear()
                %> %>)</span
              >
            </p>
          </div>
        </div>
      </a>
      <% }) %>
    </div>
  </div>
</section>
<%- include('includes/footer')%>
